/* Reset básico e base do site, que vi em video aula no youtube*/
body {
  font-family: 'Poppins', sans-serif;
  background-color: #E6DAF2;
  color: #2c2c2c;
  margin: 0;
  padding: 0;
  line-height: 1.6;
}

.cabecalho {
  background-color: #9678b6;
  color: rgb(247, 242, 252);
  padding: 10px; 
  width: 100%;
  
}

.h1myname {
  font-size: 40px;
  margin-bottom: 10px;
  letter-spacing: 1px;
  flex-wrap: wrap; 
  display: flex;
  justify-content: center;
}
  
.nav-cabecalho {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  gap: 25px;
}

.nav-li-a {
  color: #ffffff;
  text-decoration: none;
  font-weight: 25px;
}

.nav-li-a:hover {
  color: #f189d2;
}

.main-container {
  display: flex;
  flex-direction: column;
  margin: 50px;
  margin-bottom: 60px;
  padding: 20px;
  background: white;
  border-radius: 15px;
 
}


